*.pyc
*.csv
log/
snapshot/
#.workday_canlendar.conf*
#.company_profile.conf*
#.company_group.conf*
#.company_profile_change_list.conf*
#conf/market_stock_switch.conf
#conf/balance_sheet_interest_field_metadata
#conf/income_statement_interest_field_metadata
#conf/cash_flow_statement_interest_field_metadata
#conf/statement_of_changes_in_equity_interest_field_metadata
*.conf*
#!conf/balance_sheet_field_name.conf
#!conf/income_statement_field_name.conf
#!conf/cash_flow_statement_field_name.conf
#!conf/statement_of_changes_in_equity_field_name.conf
!conf/.workday_canlendar.conf
!conf/.company_profile.conf
!conf/.company_group.conf
#!conf/.company_profile_change_list.conf
*_metadata
.time_range
#!dataset/*.conf
#!dataset/*/*.csv
#!dataset/*/*.conf
#!dataset/*/*/*/*.csv
#!dataset/*/*/*/*.conf
.ipynb_checkpoints/
