*.pyc
*.csv
log/
snapshot/
#conf/
#!conf/finance_scrapy_tmpl.conf
#!conf/finance_analysis_tmpl.conf
*_metadata
.time_range
#!dataset/*.conf
#!dataset/*/*.csv
#!dataset/*/*.conf
#!dataset/*/*/*/*.csv
#!dataset/*/*/*/*.conf
.ipynb_checkpoints/
